{% extends "base.html" %}

{% block title %}Долбоорлор{% endblock %}

{% block content %}
    <section class="projects-list">
        <h2 class="section-title" data-aos="fade-right">Менин Техникалык Долбоорлорум</h2>
        <p class="section-subtitle" data-aos="fade-left">Ар бир долбоордогу архитектуралык чечимдерди жана колдонулган технологияларды изилдеңиз.</p>

        <article class="project-item" data-aos="fade-up">
            <h3>1. JetKg жеткирүү кызматы</h3>
            <p><strong>Технологиялар:</strong> React Router TypeScript vite backend</p>
            <p>Кыргызстандын 7 обласьты боюнча жеткирүү кызматы <span class="highlight-text">Docker аркылуу контейнерлештирүү тажрыйбасын көрсөтөт.</span></p>
            <div class="project-links">
                <a href="https://jet-kg-514h.vercel.app/" target="_blank" class="btn-secondary">Live Demo</a>
                <a href="https://github.com/Nabiev005/jet_kg.git" target="_blank" class="btn-primary">GitHub Коду</a>
            </div>
        </article>

        <article class="project-item" data-aos="fade-up" data-aos-delay="200">
            <h3>2. Paidalan Techno интернет магазин</h3>
            <p><strong>Технологиялар:</strong> React TypeScript</p>
            <p>Ноутбук саткан интернет магазин <span class="highlight-text"></span></p>
            <div class="project-links">
                 <a href="https://paidalan-techno-be92.vercel.app/" target="_blank" class="btn-secondary">Live Demo</a>
                <a href="https://github.com/Nabiev005/paidalan_techno.git" target="_blank" class="btn-primary">GitHub Коду</a>
            </div>
        </article>
        
        <article class="project-item" data-aos="fade-up" data-aos-delay="400">
            <h3>3. Agro Market Айыл чарба дүкөнү</h3>
            <p><strong>Технологиялар:</strong> React TypeScript </p>
            <p>Agro Market - айыл чарба продукцияларын сатууга багытталган интернет дүкөн. <span class="highlight-text">Масштабдуу фронтенд жана бекенд чечимдери менен иштелип чыккан.</span></p>
            <div class="project-links">
                <a href="https://agro-market-dsuj.vercel.app/" target="_blank" class="btn-secondary">Live Demo</a>
                <a href="https://github.com/Nabiev005/agro-market.git" target="_blank" class="btn-primary">GitHub Коду</a>
            </div>
        </article>

    </section>
{% endblock %}